
.actor-container {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    height:fit-content;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s;
}

.actor-container:hover {
    transform: rotate(-0.7deg) scale(1.05);
    cursor: pointer;
}

.actor-link {
    background-color: transparent;
}

.actor-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.actor-container p {
    margin: 0;
}

.actorName {
    font-size: 0.9rem;
    font-weight: 400;
}

.actorCharacter {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
    .actor-container {
        max-width: 90px;
    }
    
    .actor-container p {
        font-size: 0.6rem;
    }
}